#include "/etc/X11/Xresources"
*scrollBar: false
*saveLines: 0

xterm*boldFont: DefaultFont

xterm*termName: xterm-vt220
xterm*boldMode: false
xterm*colorBDMode: true

XTerm*metaSendsEscape: true
XTerm*eightBitInput: false
XTerm*decTerminalID: vt340
XTerm*numColorRegisters: 256

xterm*locale: true
xterm*utf8: 1
