*.background: #000000
*.boldFont: VGA:pixelsize=19
*.color0: #16161b
*.color1: #a3299d
*.color10: #69ffbb
*.color11: #ffa900
*.color12: #3b8aee
*.color13: #733bee
*.color14: #3bc8ee
*.color15: #ffffff
*.color2: #29a389
*.color3: #29a345
*.color4: #296ca3
*.color5: #4629a3
*.color6: #2888a2
*.color7: #728ea3
*.color8: #6a4e8b
*.color9: #ee3c84
*.cursorColor: #acffda
*.font: VGA:pixelsize=19
*.foreground: #b6b6b6
*.saveLines: 0
*.scrollBar: false
